@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

/* Edited added display flex to centerthe <article> element */
main{
    background-color: hsl(233, 47%, 7%);
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Edited removed absolute positioning and translate properties */
.grid-p{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    width: 85vw;
    margin: auto;
}
.insight{
    background-color: hsl(244, 38%, 16%);
    /* position: relative; */
}
.mobile{
    display: none;
}
/* Edited added width for proper display */
.img-div{
    position: relative;
    width: 100%;
}

/* Edited Added styles to fix image overflow  */
.img-div img {
    width: 100%;
}

.img-div::before{
    background-color: hsl(277, 100%, 35%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    opacity: .5;
}
.insight span{
    color: hsl(277, 64%, 61%);
}
.insight .texts h2{
    font-family: 'Inter', sans-serif;
    letter-spacing: 1.2px;
    font-size: 3.5rem;
    color: white;
}
.texts{
    width: 75%;
    margin: auto;
    margin-top: 5.5rem;
}
.text-p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    margin-top: 3rem;
    word-spacing: 1.3px;
}
.text-flex{
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.text-flex h3{
    color: white;
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
}
.text-flex p{
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 100;
    font-size: 1.3rem;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 1rem;
    width: 100%;
}









/*-------------------- MEDIA QUERY STYLING STARTS HERE ------------------------ */
@media(max-width: 450px){
    main{
        min-height: 100vh;
        padding-top: 3rem;
    }
    .grid-p{
        /* display: grid; */
        grid-template-columns: 100%;
        width: 90vw;
    
    }
    .insight{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .texts{
        margin-top: 3rem;
    }
    .insight .texts h2{
        letter-spacing: none;
        margin-top: none;
        font-size: 2.5rem;
    }
    .text-p{
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }
    .mobile{
        display: block;
        text-align: center;
    }
    .desktop{
        display: none;
    }
    .text-flex{
        flex-direction: column;
        align-items: center;
        margin-top: 1.9rem;
    }
    .text-flex h3{
        font-size: 2.5em;
    }
    .text-flex p{
        margin-top: 0;
        font-size: 1rem;
    }
    .templates, .companies, .queries{
        margin-top: 2.5rem;
        /* border: 1px solid red; */
        width: 100%;

    }
}
